<ion-content padding class="profiles-bg">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="../../assets/icon/icon_salad.png">
			</div>
			<h2 ion-text class="text-secondary" no-margin>
				<strong>Yachay</strong>Services
			</h2>
		</div>

		<div padding-vertical>
		  <ion-segment [(ngModel)]="auth" color="dark">
		    <ion-segment-button value="login">
		      Login
		    </ion-segment-button>
		    <ion-segment-button value="register">
		      Register
		    </ion-segment-button>
		  </ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">This field is required</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">This field is required</p>
				</form>
				<p text-right ion-text color="darksoft" tappable (click)="forgotPass()">Forgot Password?</p>

				<ion-footer class="confirm-login" no-border>
					<ion-toolbar color="white">
						<ion-title>
							<button ion-button full color="secondary" (click)="login()" [disabled]="!onLoginForm.valid">
								<ion-icon name="log-in"></ion-icon>
								INGRESA
							</button>
						</ion-title>
					</ion-toolbar>
				</ion-footer>
			</div>

			<div id="registerForm" *ngSwitchCase="'register'">
		    <!-- Register form -->
		    <form [formGroup]="onRegisterForm" class="list-form">
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          Full Name
		        </ion-label>
		        <ion-input type="text" formControlName="name"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">This field is required</p>
		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="mail" item-start class="text-white"></ion-icon>
		          Email
		        </ion-label>
		        <ion-input type="email" formControlName="email"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">This field is required</p>

		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="lock" item-start class="text-white"></ion-icon>
		          Password
		        </ion-label>
		        <ion-input type="password" formControlName="password"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">This field is required</p>
		    </form>

					<ion-footer class="confirm-login" no-border>
						<ion-toolbar color="white">
							<ion-title>
								<button ion-button block color="secondary" (click)="register()" >
					        REGISTRATE
					      </button>
							</ion-title>
						</ion-toolbar>
					</ion-footer>
		  </div>
		</div>
	</div>
</ion-content>
