page-walkthrough {
  .primary-bg{
     background: url("assets/imgs/fondo_presen2.png") no-repeat center center fixed;
     background-size: cover;
  }

  .toolbar-background {
    // background: color($colors, primary) !important;
    background: transparent;
    border-color: transparent;
  }

  .text-white{
    color: #ffffff;
  }

  .text-gray{
    color: #e9e9e9;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    min-height: 70px;
    margin-top: 20px;
    max-height: 70px;
    font-family: "Roboto";
  }

  .slide-image {
    max-height: 160px;
    // max-width: 60%;
    margin: 18px 0;
  }

  .slide-button {
    margin-top: 20px;
    margin-bottom: 20px;

  }

  b {
  }

  p {
    max-height: 135px;
    min-height: 135px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 1.5;
    color: #60646B;
    b {
      color: #000000;
    }
  }

}
